extends /layout

block content

    div
        .col-md-3.col-sm-3.col-xs-3#dvtree
            div(id='jstreecontrollers')
        .col-md-9.col-sm-9.col-xs-12#divtablearea
            .x_panel
                .x_title
                    h2
                        | Users 
                    ul.nav.navbar-right.panel_toolbox
                        li
                            a.collapse-link
                                i.fa.fa-chevron-up

                .clearfix
                .x_content
                    table.table
                        thead
                            tr
                                th No
                                th Username
                                th Node-RED
                        tbody
                            -var i=0
                            for user in users
                                tr
                                    th(scope='row') #{i+1}
                                    td #{user.username}
                                    td
                                        a#lnkviewcontroller(href='/node-red/start/' + user._id) Node-RED
                                -i++